.PageLayout {
	// background: #ff500a;
	// content: "";
	// position: fixed;
	// // z-index: 5;

	// display: block;
	// max-width: 1024px;
	top:5%;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	.content{

		padding:40px 0;

	}
	.section{ 
		margin:40px 0px;
	}
}
